.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 40%;
  border: 2px solid black;
}

h1 {
  margin: 4%;
  margin-left: 15%;
}

.form-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 8%;
}

thead {
  border-bottom: 2px solid black;
}

.btn {
  display: flex;
  justify-content: right;
  text-align: right;
  margin-top: 5%;
  margin-bottom: 5%;
}

.green {
  color: green;
}

.red {
  color: red;
  margin-left: 910%;
}

button {
  border: 1px solid #0066cc;
  border-radius: 5%;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
  cursor: not-allowed;
}

button:enabled {
  background-color: gray;
  color: black;
  cursor: not-allowed;
}

button:disabled {
  background-color: blue;
  color: white;
  cursor: pointer;
}
